---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    <link href="js/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="js/js-image-slider.js" type="text/javascript"></script>
    <link href="generic.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
            <div id="sliderFrame">
                <div id="slider">
                    <a class="lazyImage" href="images/latar.jpg" title="Kawan-Kawan HMJ SI 2013-2014">Kawan-Kawan HMJ SI 2013-2014 </a>
                    <a class="lazyImage" href="images/teresno.jpg" title="#htmlcaption5">Monumen jakarta</a>
                    <a class="lazyImage" href="images/patung.jpg" title="Light weight Image Slider">Patung Jakarta Slider</a>
                    <a class="lazyImage" href="images/4.jpg" title="Fine tuned. Sleek & Smooth">Fine tuned. Sleek & Smooth</a>
                    <a class="lazyImage" href="images/5.jpg" title="Easy-to-Use Slider">Easy-to-Use Slider</a>
                </div>
        <div style="display: none;">
            <div id="htmlcaption3">
                <em>HTML</em> caption. Back to <a href="http://www.menucool.com/">Menucool</a>.
            </div>
            <div id="htmlcaption5">
                Smart Lazy Loading Image
            </div>
        </div>
                
        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb"><img src="images/latar.jpg" /></div>
            <div class="thumb"><img src="images/teresno.jpg" /></div>
            <div class="thumb"><img src="images/patung.jpg" /></div>
            <div class="thumb"><img src="images/thumb4.jpg" /></div>
            <div class="thumb"><img src="images/thumb5.jpg" /></div>
            <div class="thumb"><img src="images/thumb1.jpg" /></div>
            <div class="thumb"><img src="images/thumb2.jpg" /></div>
            <div class="thumb"><img src="images/thumb3.jpg" /></div>
            </div>
        </div>    
                    
            </div>
    </header>
    {% include scripts.html %}
</body>
</html>
